<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--CONFIG SERVICES-->
    <add key="ServiceName" value="TN.Mobike.LookOmniServices" />
    <add key="ServiceDisplayName" value="TN.Mobike.LookOmniServices" />
    <add key="ServiceDescription" value="TN.Mobike.LookOmniServices" />

    <!--PORT nhận dữ liệu từ khóa trả về-->
    <add key="PortService" value="6060" />
    <add key="HostService" value="192.168.2.85" />

    <!--Tổng dung lượng pin-->
    <add key="TotalPin" value="420" />

    <!--Thời gian bật định vị vị trí khóa ( tính theo giây )-->
    <add key="TimeTrackingLocation" value="10" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>